@use "../../scss/common/shared" as *;

* {
  font-family: Cormorant;
}

.searchBox {
  border-radius: 0.625rem;
  background: #fff;
  opacity: 0.8;
}

.searchBar {
  border-radius: 0.625rem;
  border: 1px solid #b3a6a6;
}

input:focus {
  outline: none;
}

.btn {
  width: 6rem;
  color: #1e1e1e;
  border-radius: 0.625rem;
  border: 1px solid $btn-color;
  padding: 0.25rem;
  text-align: center;
}

.btn:hover,
.activeBtn {
  background: $btn-color;
}
