@use 'scss/common/shared' as *;

.backgroundImg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $bg-color;
  min-height: 100vh;
}

.transitionBlur {
  position: absolute;
  bottom: 0;
  height: 300px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(251, 248, 244, 0) 50%,
    $bg-color 95%
  );
}

.slogan {
  text-align: center;
  font-family: Cinzel;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5rem;
}

.subtitle {
  text-align: center;
  font-family: Cormorant;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.15rem;
}
