@use 'scss/common/shared' as *;
@import url("https://fonts.googleapis.com/css?family=Inter:wght@400;600;700;+Cinzel:wght@400;600;700+Cormorant:wght@400;600;700");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: $bg-color;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
