* {
  font-family: Cormorant;
}

.searchBar {
  background-color: white;
  border-radius: 0.625rem;
  border: 1px solid #b3a6a6;
}

.mapButton {
  color: #fff;
  border-radius: 0.625rem;
  background-color: #1e1e1e;
}

input:focus {
  outline: none;
}

.filterBtn {
  border: 1px solid #b3a6a6;
}

.optionBtn {
  border: 1px solid #b3a6a6;
}
